@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-mdlg: 1000px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Colors */
  --color-primary: #10bb76;
  --color-secondary: #001726;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
}

/*
 * Loader animation
 */
@keyframes loader-animation {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.loader {
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #e7692b;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@layer components {
  /* Add your component styles here */
}
